body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f4f4f4;
}
.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}
.top-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
#searchInput {
  flex: 1;
  padding: 10px;
}
#addBtn {
  padding: 10px 15px;
  font-size: 20px;
}
#formContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.hidden {
  display: none;
}
.product {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 8px;
  background: #e2e2e2;
  border-radius: 5px;
}
.countdown {
  color: red;
  font-weight: bold;
}
