body {
  font-family: monospace;
  background-color: #e0fff0;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
}

.product {
  display: flex;
  align-items: center;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.product img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px;
}

.product-info {
  flex: 1;
}

.progress-bar {
  height: 15px;
  background-color: #4ade80;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.progress-fill {
  height: 100%;
  background-color: #22c55e;
  transition: width 0.5s;
}

.expired {
  border: 2px solid red;
  background-color: #ffe0e0;
}
